body > h1 {
    text-align: center;
}

h2.row-title {
    text-align: center;
}

body {
    /*background-color: rgb(244, 244, 244);*/
    background-image: url(background1.jpg);
    background-color:rgba(255, 255, 255, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    background-size: cover;
}

#identity {
    border-radius: 100%;
    width: 39.93%;
}

ul.hobbies {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

ul.skills {
    list-style: none;
    padding-left: 0;
}

#desc {
    font-family: "Playpen Sans", cursive;
}

#tel {
    pointer-events: none;
    margin-bottom:5px;
}

#btn-mailto {
    margin-bottom:5px;
}

#linkedin {
    margin-bottom:5px;
}

.video {
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

form.container {
    width: 307px;
}

.other-skills {
    border-radius: 5px;
}

@media screen and (min-width: 576px) {
    #identity {
        width: 230px;
    }
}

@media screen and (min-width: 768px) {
    form.container {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    ul.skills {
        list-style:disc;
        padding-left: 40px;
    }
    #programming {
        order:1;
    }
    .other-skills {
        background-color: rgb(236, 237, 238);
    }
}

@media screen and (min-width: 1200px) {
    #programming {
        order:0;
    }
}
